.navbar {
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

/* Prent */
.navbar-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 12px 16px;

  display: flex;
  align-items: center;
}

/* Left child */
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 5px; /* between icon and text */
}

.brand-icon {
  width: 25px;
  height: 25px;
  /* display: block; */
  /* flex: 0 0 20px; */
}

.brand-text {
  font-weight: 600;
  font-size: 1.05rem;
}

/* Right child */
.navbar-menu {
  margin-left: auto;
  display: flex;
  gap: 24px;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
}

.navbar-link:hover {
  color: #000;
}
